/* 1444px */
@media (max-width: 90em) {
  .card {
    height: 48rem;
  }
}

/* 1219px */
@media (max-width: 76em) {
  html {
    font-size: 50%;
  }
  .pack-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .img-show {
    display: none;
  }

  .section-inspirations {
    padding: 0;
  }
  .inspire-videos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .vids {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
  }
  .title-inspirations {
    writing-mode: horizontal-tb;
    font-size: 5.2rem;
    padding: 0;
  }
  .vid-big {
    display: none;
  }

  .sim-pic {
    height: 20rem;
    width: 13rem;
  }
}

/* 952px */
@media (max-width: 60em) {
  html {
    font-size: 35%;
  }
  .card {
    height: 48rem;
  }
  .img-show-2 {
    display: none;
  }
  .pack-img {
    height: 17.5rem;
    width: 23rem;
  }
}

/* 810px */
@media (max-width: 51em) {
  .vid-3 {
    display: none;
  }
  .sim-pic-rio {
    display: none;
  }
} ;
